/* ----------------------------------------------------------------------------------------- */
/* SEARCH BAR */
/* ----------------------------------------------------------------------------------------- */
#searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0px 0px 0px auto;
    position: relative;
}
#searchBar > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--background-color-alt);
}
#searchBar > input {
    width: calc(100% - 20px);
    height: 30px;
    margin: 0px 10px;
    padding: 0px 10px 0px 40px;
    color: var(--text-color-alt);
    border-radius: 15px;
    border: 1px solid var(--background-color);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    transition: border-color 1s ease;
}
#searchBar > input:focus {
    border-color: var(--filter-darker);
}
/* ----------------------------------------------------------------------------------------- */
/* PRODUCTS LIST */
/* ----------------------------------------------------------------------------------------- */
.matchedProducts {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    position: fixed;
    top: 100px;
    right: 160px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--background-color-alt);
    box-shadow: var(--box-shadow);
    animation: fadeIn 0.5s ease-in-out forwards;
    overflow-y: auto;
}
.matchedProducts > a {
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    white-space: nowrap;
    border-radius: 25px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    animation: fadeIn 0.5s ease-in-out forwards;
}
.matchedProducts > a:last-of-type {
    margin: 10px;
}
.matchedProducts > a > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;
    border-radius: 50%;
    background-color: var(--background-color-alt);
    box-shadow: var(--box-shadow);
}
.matchedProducts > a > p {
    color: var(--text-color-alt);
    transition: color 0.5s ease;
}
.matchedProducts > a:hover > p {
    color: var(--primary-color);
}