@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
:root {
    --primary-color: #4D9FEB;
    --error-color: #EB4D4D;
    --success-color: #29A125;
    --text-color: #FFFFFF;
    --text-color-alt: #2B2B2B;
    --background-color-primary: var(--primary-color);
    --background-color: var(--text-color);
    --background-color-alt: var(--text-color-alt);
    --box-shadow: 2px 2px 5px var(--filter);
    --filter: #2B2B2B30;
    --filter-darker: #2B2B2B80;
    --quantity-marker: #FFA448;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Chakra Petch";
    color: var(--text-color);
}
::-webkit-scrollbar {
    width: 5px;
    background-color: var(--background-color);
}
::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: var(--background-color-primary);
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--background-color-primary);
    box-shadow: var(--box-shadow);
}
body > h1 > span {
    color: var(--text-color-alt);
}
body > #infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
body > #infos > .columns {
    display: flex;
    width: 100%;
    min-height: 50px;
    height: 50px;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}
body > #infos > .columns > div > h3 {
    padding: 0px 10px;
    color: var(--text-color-alt);
    text-align: center;
}
body > #infos > div:not(.columns) {
    display: flex;
    min-height: 50px;
    height: 50px;
    border-bottom: 1px solid var(--filter);
}
body > #infos > div > div {
    display: flex;
    align-items: center;
    flex: 1;
}
body > #infos > div > div:not(:last-of-type) {
    border-right: 1px solid var(--filter);
}
body > #infos > div > div > p {
    padding: 0px 10px;
    color: var(--text-color-alt);
    text-align: center;
}