/* ----------------------------------------------------------------------------------------- */
/* FONTAWESOME STARS */
/* ----------------------------------------------------------------------------------------- */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* ----------------------------------------------------------------------------------------- */
/* COMMENT FORM CONTAINER */
/* ----------------------------------------------------------------------------------------- */
#commentForm {
    display: flex;
}
/* ----------------------------------------------------------------------------------------- */
/* COMMENT FORM */
/* ----------------------------------------------------------------------------------------- */
#commentForm > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}
#commentForm > form > div:not(.formFooter) {
    display: flex;
    width: 100%;
}
#commentForm > form > div > input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    color: var(--text-color-alt);
    border-bottom: 1px solid var(--filter);
    transition: border-color 1s ease;
}
#commentForm > form > div > input[type="text"]:focus {
    border-color: var(--primary-color);
}
#commentForm > form > .formFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 0px 0px;
}
#commentForm > form > .formFooter > #stars {
    display: flex;
    flex-flow: row-reverse;
    height: 30px;
    position: relative;
}
#commentForm > form > .formFooter > #stars > input {
    display: none;
}
#commentForm > form > .formFooter > #stars > label:before {
    display: inline-block;
    margin: 5px;
    content: "\f005";
    font-size: 1.25em;
    font-family: FontAwesome;
}
#commentForm > form > .formFooter > #stars > .half:before {
    position: absolute;
    content: "\f089";
}
#commentForm > form > .formFooter > #stars > label {
    float: left;
    color: var(--filter);
    transition: color 1s ease;
}
#commentForm > form > .formFooter > #stars > input:checked ~ label,
#commentForm > form > .formFooter > #stars:not(:checked) > label:hover,
#commentForm > form > .formFooter > #stars:not(:checked) > label:hover ~ label {
    color: var(--primary-color);
}
#commentForm > form > .formFooter > #stars > input:checked + label:hover,
#commentForm > form > .formFooter > #stars > input:checked ~ label:hover,
#commentForm > form > .formFooter > #stars > label:hover ~ input:checked ~ label,
#commentForm > form > .formFooter > #stars > input:checked ~ label:hover ~ label {
    color: var(--primary-color);
}
#commentForm > form > .formFooter > div:not(#stars) {
    display: flex;
    justify-content: center;
    align-items: center;
}
#commentForm > form > .formFooter > div > input[type="submit"] {
    width: fit-content;
    padding: 5px 10px;
    color: var(--text-color);
    border-radius: 15px;
    background-color: var(--background-color-alt);
    box-shadow: var(--box-shadow);
    transition: background-color 1s ease;
}
#commentForm > form > .formFooter > div > input[type="submit"]:hover {
    background-color: var(--primary-color);
}